@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'GowunDodum';
	src: url('/fonts/GowunDodum-Regular.ttf') format('woff');
	font-weight: normal;
	font-style: normal;
}
